pyodbc
streamlit
kaleido
matplotlib
path
plotly
streamlit_option_menu
bokeh==2.4.3
streamlit-aggrid
exchange_calendars
streamlit_chat
seaborn
openai
bs4
google-api-python-client
scikit-learn
